.footer {
    background-color: #333;
    color: white;
    width: 100%;
   
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  /*   max-width: 1200px; */
  /*   margin: 0 auto; */
}

.footer-section {
    margin: 1rem 0;
}

.footer-section h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.footer-section p {
    margin: 0.5rem 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons a {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.social-icons img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .footer{
      
    }
    .footer-container {
        flex-direction: row;
       
        
    }

    .footer-section {
        flex: 1;
        margin: 0 1rem;
    }
}
