.productos1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  margin: .2rem;
  padding: .4rem;
  margin-top: 25%;
 }
  
 .producto1 {
   width: 100%;
   height: 35vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 1rem;
   overflow: hidden;
   border-top: #084f38  1px solid; 
   
 }
 .producto1 p {
    color: #fff;
    margin: .2rem;
    font-size: .7rem;
 }
 .producto1 h3{
    font-size: .9rem;
    margin: .7rem;
    color: #56e0b5;
 }
 .producto1:hover {
     transform: scale(1.5);
     border: #56e0b5 4px solid;
     z-index: 1;
     opacity: .65;
 }
 .producto1 > div {
     text-align: center;
     margin: .1rem;
     padding: .8rem;
     margin-top: .4rem;
     background-color:  #1a020cd2;
     border-radius: 9px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     border: none;
     border-bottom: #084f38 1cqb solid; 
     border-left: #56e0b5 1px solid; 
 }
 .producto1 > img {
     width: 100%;
     aspect-ratio: 1/1;
     object-fit: cover;
     border-radius: 9px;
     padding: .9rem;
 }
 .producto1 .ver-mas1 {
     margin: .3rem;
     margin-top: .9rem;
     padding: .3rem;
     font-size: .7rem;
     text-decoration: none;
     background-color:  #e40461;
     color: #ffffff;
     width: max-content;
     border-radius: .5rem;
     clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
     transition: .2s;
 }
 .producto1 .ver-mas:hover {
     background-color: black;
     color: #56e0b5 ;
 }
 @media (min-width: 768px) { 
     .productos1 {  
     /*    width: 100%; */
     /*    height: 100%; */
        gap: 4rem;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         margin: 2.3rem;
         padding: 1.6rem;
        /*  margin-top: 10%; */
       
     }
     .producto1 {
       /*  scale: .9; */
      width: 250PX;
      height: 500px;
      
       
       
       display: flex;
       flex-direction: column;
       border-radius: 1rem;
       
       border: #56e0b5 2px solid; 
     }
     .producto1 >div {
       
        width: 100%;
        height: 100%;
     }
     .producto1 h3{ 
        padding: 6%;
        font-size: 1.8rem;
     }
     .producto1 p{
        font-size: 1.2rem;
     }
     .producto1 .ver-mas1 {
        margin: 1.7rem;
        margin-top: 25%;
        padding: .9rem;
        font-size: 1.1rem;
     }
 }